input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
}

input[type="date"] {
    color: #000000;
}

input[type="date"]:focus,
input[type="date"]:valid {
    color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}
